version: '3.9'

services: # describing services we're going to use

  web:
    build: . # it uses DockerFile in main directory and install Python and Django code
    env_file:
      - .env.docker
    command: >
      sh -c "python manage.py makemigrations && \
             python manage.py migrate && \
             python manage.py collectstatic --noinput && \
             gunicorn config.wsgi:application --bind 0.0.0.0:8000"

    volumes:
      - .:/app # we use main directory and docker directory /app for saving changing in code
      - static_volume:/app/staticfiles # it allows us to save data even if container was stopped
      - media_volume:/app/media # Added media volume for Django
    ports: # mapping host port with docker container port
      - "8000:8000"
    depends_on: # it will run only if DB connection is True
      db:
        condition: service_healthy
      redis:
        condition: service_healthy


  db:
    image: postgres:17 # using image from DockerHub
    env_file: # giving access to environment variables
      - .env.docker
    volumes:  # it allows us to save data even if container was stopped
      - postgres_data:/var/lib/postgresql/data
    healthcheck: # testing DB before we start server
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7 # using image from DockerHub
    env_file: # giving access to environment variables
      - .env.docker
    ports:
      - "6379:6379"
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli', 'ping']
      interval: 30s
      timeout: 10s
      retries: 5

  celery:
    build: .
    env_file:
      - .env.docker
    command:
      - celery
      - -A
      - config
      - worker
      - -l
      - INFO
      - -P
      - eventlet
    volumes:
      - .:/app
      - media_volume:/app/media # Added media volume for Celery (if needed for processing)
    depends_on:
      - db
      - redis

  celery_beat:
    build: .
    env_file:
      - .env.docker
    command: >
      sh -c "python manage.py migrate && \
             celery -A config beat -l INFO -S django"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  nginx:
    build:
      context: ./nginx  # path to the directory with Dockerfile and nginx.conf
    ports:
      - "80:80" # mapping host port with docker port
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/staticfiles # Changed to use volume instead of bind mount for consistency
      - media_volume:/app/media:ro # Added media volume for Nginx
    depends_on:
      - web



volumes:
  postgres_data:
  static_volume:
  media_volume: # Added media volume definition
